html,
body {
  padding: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

#map {
  width: 100vw;
  height: 100vh;
  visibility: hidden;
}

h6 {
  margin: 0 0 2px 0;
  font-size: 1.2em;
}

h3 {
  margin: 0;
  font-size: 1.5em;
}

.leaflet-top > h3 {
  margin: 5px 5px 0 10px;
  padding: 0 5px;
  background-color: #fff;
  opacity: 0.8;
  border-radius: 4px;
}

.intro-popup .leaflet-popup-tip-container {
  width: 0;
  height: 0;
}

.legend > h3 {
  margin-bottom: 5px;
}

.info {
  padding: 6px 8px;
  background: white;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  border-radius: 5px;
}

.legend {
  text-align: left;
  line-height: 18px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legend-scale {
  margin-top: 4px;
  padding-top: 7px;
  border-top: dotted 3px #eee;
}

.leaflet-popup-content {
  min-width: 150px;
}

.leaflet-popup-content img {
  width: 100%;
  margin: 5px 0 5px 0;
}


.loader,
.loader:before,
.loader:after {
  background: #000;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  color: #000;
  text-indent: -9999em;
  position: absolute;
  left: 50vw;
  top: 45vh;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
